@model TvShowsVM

@{
    ViewData["Title"] = "TV Series Page";
}

<section class="breadcrumb-area breadcrumb-bg" data-background="assets/img/bg/breadcrumb_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2 class="title">Tv <span>Show</span></h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">tv show</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ucm-area ucm-bg" data-background="assets/img/bg/ucm_bg.jpg">
    <div class="ucm-bg-shape" data-background="~/assets/img/bg/ucm_bg_shape.png"></div>
    <div class="container">
        <div class="row align-items-end mb-55">
            <div class="col-lg-6">
                <div class="section-title text-center text-lg-left">
                    <span class="sub-title">ONLINE STREAMING</span>
                    <h2 class="title">New Tv Show</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ucm-nav-wrap">
                    <ul class="nav nav-tabs type" id="myTab" role="tablist">
                        @foreach (var eachCategory in Model.Categories)
                        {
                            <li class="nav-item" role="presentation">
                                <a class="nav-link tab" id="@eachCategory.Name-tab" data-id="@eachCategory.Name" data-toggle="tab" role="tab" aria-controls="@eachCategory.Name" aria-selected="true">@eachCategory.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content" id="myTabContent">
            @foreach (var item in Model.Categories)
            {
                <div class="tab-pane" id="@item.Name" role="tabpanel" aria-labelledby="@item.Name-tab">
                    <div class="ucm-active owl-carousel">
                        @foreach (var movie in Model.Films)
                        {
                            if (movie.Category.Name == item.Name)
                            {
                                <div class="movie-item mb-50" data-id="@movie.Category.Name">
                                    <div class="movie-poster">
                                        <a asp-controller="TvSeriesDetail" asp-action="Index" asp-route-id="@movie.Id"><img src="~/assets/img/poster/@movie.Images.FirstOrDefault()?.Image" alt=""></a>
                                    </div>
                                    <div class="movie-content">
                                        <div class="top">
                                            <h5 class="title"><a href="~/movieDetails.html">@movie.Name</a></h5>
                                            <span class="date">@movie.CreatedDate.Year</span>
                                        </div>
                                        <div class="bottom">
                                            <ul>
                                                <li><span class="quality">@movie.Resolution.ResolutionP</span></li>
                                                <li>
                                                    <span class="duration"><i class="far fa-clock"></i> @movie.Duration min</span>
                                                    <span class="rating"><i class="fas fa-thumbs-up"></i> 3.5</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="newsletter-area newsletter-bg" data-background="assets/img/bg/newsletter_bg.jpg">
    <div class="container">
        <div class="newsletter-inner-wrap">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="newsletter-content">
                        <h4>Trial Start First 30 Days.</h4>
                        <p>Enter your email to create or restart your membership.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form action="#" class="newsletter-form">
                        <input type="email" required placeholder="Enter your email">
                        <button class="btn">get started</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>