@model BlogVM
@*@model Paginate<BlogVM>*@

<section class="breadcrumb-area breadcrumb-bg" data-background="assets/img/bg/breadcrumb_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <h2 class="title">News Update</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blog Page</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-area blog-bg" data-background="assets/img/bg/blog_bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @foreach (var eachBlog in Model.Blogs)
                {
                    <div class="blog-post-item">
                        <div class="blog-post-thumb">
                            <a asp-controller="BlogDetail" asp-action="Index" asp-route-id="@eachBlog.Id"><img src="~/assets/img/blog/@eachBlog.BlogImages.FirstOrDefault().Image" alt=""></a>
                        </div>
                        <div class="blog-post-content">
                            <span class="date"><i class="far fa-clock"></i>@eachBlog.CreatedDate.ToString("MM/dd/yyyy")</span>
                            <h2 class="title"><a href="~/blogDetails.html">@eachBlog.Title</a></h2>
                            <p>
                                @eachBlog.Description
                            </p>
                            <div class="blog-post-meta">
                                <ul>
                                    <li><i class="far fa-user"></i> by <a href="~/#">@eachBlog.BlogAuthor.FullName</a></li>
                                    <li><i class="far fa-thumbs-up"></i> 63</li>
                                    <li><i class="far fa-comments"></i><a href="~/#">12 Comments</a></li>
                                </ul>
                                <div class="read-more">
                                    <a href="~/blog-details.html">
                                        Read More <i class="fas fa-angle-double-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="pagination-wrap mt-60">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="active"><a href="~/#">1</a></li>
                            <li><a href="~/#">2</a></li>
                            <li><a href="~/#">3</a></li>
                            <li><a href="~/#">4</a></li>
                            <li><a href="~/#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4">
                <aside class="blog-sidebar">
                    <div class="widget blog-widget">
                        <div class="widget-title mb-30">
                            <h5 class="title">Search Objects</h5>
                        </div>
                        <form action="#" class="sidebar-search">
                            <input type="text" placeholder="Search...">
                            <button><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                    <div class="widget blog-widget">
                        <div class="widget-title mb-30">
                            <h5 class="title">Categories</h5>
                        </div>
                        <div class="sidebar-cat">
                            <ul>
                                @foreach (var eachCategorie in Model.Categories)
                                {
                                    <li><a href="~/#">@eachCategorie.Name</a> <span>12</span></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="widget blog-widget">
                        <div class="widget-title mb-30">
                            <h5 class="title">Recent Posts</h5>
                        </div>
                        <div class="rc-post">
                            <ul>
                                @foreach (var eachMiniBlog in Model.Blogs)
                                {
                                    <li class="rc-post-item">
                                        <div class="thumb">
                                            <a href="~/blog-details.html">
                                                <img src="~/assets/img/blog/@eachMiniBlog.BlogImages.FirstOrDefault()?.Image" style="width:100px; height:80px;" alt="">
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="title">
                                                <a href="~/blog-details.html">
                                                    @eachMiniBlog.Title
                                                </a>
                                            </h5>
                                            <span class="date"><i class="far fa-clock"></i> @eachMiniBlog.CreatedDate.ToString("MM/dd/yyyy") </span>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="widget blog-widget">
                        <div class="widget-title mb-30">
                            <h5 class="title">Tag Post</h5>
                        </div>
                        <div class="tag-list">
                            <ul>
                                @foreach (var eachTags in Model.Tags)
                                {
                                    <li><a href="~/#">@eachTags.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

<section class="newsletter-area newsletter-bg" data-background="assets/img/bg/newsletter_bg.jpg">
    <div class="container">
        <div class="newsletter-inner-wrap">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="newsletter-content">
                        <h4>Trial Start First 30 Days.</h4>
                        <p>Enter your email to create or restart your membership.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form action="#" class="newsletter-form">
                        <input type="email" required placeholder="Enter your email">
                        <button class="btn">get started</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>